.banner {
    background: url('/public/banner.jpg') no-repeat center center;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
